body {
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: #e5e7eb;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h1, h2, h3 {
  color: #22c55e;
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
